<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Angular Composants</h1>
      <div class="card p-4 mb-5">
        
          <h2>Add a link</h2>
          <div class="col-12">
            <label for="title">Title:</label>
            <input class="form-control" id="title" type="text"/>
          </div>
          <div class="col-12">
            <label for="link">Link:</label>
            <input class="form-control" id="link" type="text"/>
          </div>
          <div class="col-4 offset-8">
          <button class="btn btn-success mt-2">Submit link</button>
        </div>

        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <app-article></app-article>
    </div>
    <div class="col-auto">
      <app-article></app-article>
    </div>
    <div class="col-auto">
      <app-article></app-article>
    </div>
  </div>

</div>